.chatmain
  .chatmain__group
    .chatmain__group--info--left-box
      .chatmain__group--info--left-box__current-group
        =@group.name
      .chatmain__group--info--left-box__member-list
        Member :
        %p.chatmain__group--info--left-box__member-list--index
          - @group.group_users.each do |group_user|
            = group_user.user.name
    =link_to edit_group_path(@group)  do
      .chatmain__group--btn
        Edit
  .messages
    = render @messages
  .chatmain__message
    .chatmain__message__form
      .chatmain__message--form--input
        .chatmain__message--form--input--box
          .chatmain__message--form--input--box__text
            .form
              = form_for [@group, @message] do |f|
                = f.text_field :content, class: 'texinp', placeholder: 'type a message'
                .form__mask
                  = f.label :image, class: 'input-box__image' do
                    = icon('fas', 'image', class: 'icon2')
                    = f.file_field :image, class: 'file-select'
                  = f.submit "Send", { :class => 'btn1'}
    